#attractions-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#attractions-container .panel{
  height: 65vh;
}

#attractions-container .panel .tile {
  background-color: #f2f2f3;
  padding: 0.6rem 0.6rem 0 0.4rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 5px;
}

#attractions-container .panel .tile .tile-title {
  margin-bottom: 0;
}

.divider.text-center {
  padding-bottom: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.divider.text-center[data-content]::after {
  color: #516D62;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Trajan Pro", Trajan, "Trajan Pro 3", serif;
  -ms-transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
  z-index: 500;
}