.card {
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.card .card-footer button {
	margin-top: -1rem;
	padding: 1rem 3rem 2rem 3rem;
	border-radius: 0;
	text-transform: uppercase;
	font-family: "Trajan Pro", Trajan, "Trajan Pro 3", serif;	
}

.card .card-body button {
	margin-top: 2rem;
	padding: 1rem 3rem 2rem 3rem;
	border-radius: 0;
	text-transform: uppercase;
	font-family: "Trajan Pro", Trajan, "Trajan Pro 3", serif;	
}

.card.card-rooms { 
	border: none;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(163,163,163,1);
	-moz-box-shadow: 0px 5px 10px 2px rgba(163,163,163,1);
	box-shadow: 0px 5px 10px 2px rgba(163,163,163,1);
}

.card.text-hero,
.card.img-hero {
	margin-bottom: 3rem;
	background: #516D62;
	border: none;
}

.card.img-hero.img-left {
	margin-bottom: 3rem !important;
}

.card.text-hero {
	padding-top: 1rem;
}

.card.text-hero .card-body,
.card.img-hero .card-body {
	color: #F4F4F4;
	font-size: 1rem;
}

.card.img-hero.img-left .card-body {
	background: #516D62 !important;
}

.card.text-hero .card-header h1,
.card.img-hero .card-header h1 {
	color: #FFF;
}

.card.img-hero.img-left .card-body h1 {
	color: #FFF;
}

.card.text-hero .card-footer button.btn.btn-lg,
.card.img-hero .card-footer button.btn.btn-lg {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem 3rem 2rem 3rem;
	font-weight: 600;
	border-radius: 0;
	text-transform: uppercase;
	font-family: "Trajan Pro", Trajan, "Trajan Pro 3", serif;
}

.card.img-top .card-header,
.card.img-top .card-body,
.card.img-top .card-footer {
	background: #E4E4E4;
	text-align: center;
}

.card.img-top .card-img {
	background: #E4E4E4;	
}

.card.img-left {
	border: none;
	display: flex;
	flex-direction: row;
	margin-left: 0;
	margin-right: 0;
}

.card.img-left > .card-img {
	width: 60%;
	height: 90vh;
	left: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card.img-left > .card-img > img {
	flex-shrink: 0;
	height: 100%;
	width: auto;
}

.card.img-left > .card-body {
	text-align: center;
	display: flex;
	align-items: center;
	width: 40%;
	background: #E4E4E4;
}

.card.img-right {
	border: none;
	display: flex;
	flex-direction: row;
	margin-left: 0;
	margin-right: 0;
}

.card.img-right > .card-img {
	width: 60%;
	height: 90vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card.img-right > .card-img > img {
	flex-shrink: 0;
	height: 100%;
	width: auto;
}

.card.img-right > .card-body {
	text-align: center;
	display: flex;
	align-items: center;
	width: 40%;
	background: #E4E4E4;
	left: 0;
}