#room-header {
	background: #678A7C;
	width: 100%;
	min-height: 8rem;
	color: #EEE;
	display: flex;
	align-items: center;
	padding: 0.4rem 2rem 0.4rem 2rem;
	justify-content: center;
	position: relative;
	top: -48rem;
}

#room-header h1, #room-header h2,
#room-header h3, #room-header h4,
#room-header h5, #room-header h6 {
	color: #FFF;
}